@page "/taskDetails/{TaskId}"
@using TodoListBlazorWasm.Components

<h1>Detail : @TaskId</h1>
@if (taskDetail == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <h3>
        @taskDetail.Name
    </h3>
    <table class="table">
        <tr>
            <td>
                Name
            </td>
            <td>@taskDetail.Name</td>
        </tr>
        <tr>
            <td>
                Assigne
            </td>
            <td>@taskDetail.AssigneName</td>
        </tr>
        <tr>
            <td>
                Date
            </td>
            <td>@taskDetail.CreateDate.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <td>
                Priority
            </td>
            <td><Prioritylabel Priority="@taskDetail.Priority"></Prioritylabel></td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td><StatusLabel Status="@taskDetail.Status"></StatusLabel></td>
        </tr>

    </table>
}

